[Unit]
Description=Adguard Home container
{{ __dns_after_unbound | default('# don't use local nameserver') }}

[Container]
ContainerName=farrapos-dns-filter
Image={{ dns_adguard_image }}
Volume=/opt/adguardhome/conf:/opt/adguardhome/conf:Z
Volume=/opt/adguardhome/work:/opt/adguardhome/work:Z
PublishPort=53:53/tcp
PublishPort=53:53/udp
PublishPort={{ dns_dashboard_port }}:80/tcp
PublishPort=443:443/tcp
PublishPort=443:443/udp
Network=farrapos-dns-net
Pod=farrapos-dns.pod
IP={{ __dns_filter }}

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
