[Unit]
Description="Registry container"
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
RequiresMountsFor=/opt/registry

[X-Container]
ContainerName=farrapos-registry
Image={{ registry_image }}
# service specific
Volume=/opt/farrapos/registry/data:/var/lib/registry:Z
PublishPort={{ registry_port }}:5000/tcp

[Install]
WantedBy=multi-user.target default.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
KillMode=mixed
ExecStartPre=-/bin/rm -f %t/%N.cid
ExecStop=/usr/bin/podman rm -v -f -i --cidfile=%t/%N.cid
ExecStopPost=-/usr/bin/podman rm -v -f -i --cidfile=%t/%N.cid
Delegate=yes
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
ExecStart=/usr/bin/podman run --name=farrapos-registry --cidfile=%t/%N.cid --replace --rm --cgroups=split --sdnotify=conmon -d -v /opt/farrapos/registry/data:/var/lib/registry:z --publish {{ registry_port }}:5000/tcp {{ registry_image }}
